footer {
  position: absolute;
  bottom: 5vh;
  left: 20%;
}

.footer-social-links {
  margin: 10px;
  .social-link {
    display: inline-block;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #000000;
    font-size: 20px;
    margin-right: 16px;
    transition: all 0.3s ease-in-out;
  }
}
