/** Colors */
$c-purple-600: #4c0459;
$c-white: #ffffff;

/** Breakpoints */
$breakpoint-xs: 460px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1380px;

/** Containers */
$container-xs: 415px;
$container-sm: 544px;
$container-md: 736px;
$container-lg: 960px;
$container-xl: 1168px;
$container-xxl: 1348px;
