/** Colors */
$c-blue-400: #63adac;
$c-blue-800: #021f66;
$c-gray-100: #aaaaaa;
$c-gray-800: #505050;
$c-pink-400: #fdf5f7;
$c-pink-600: #c79fab;
$c-purple-600: #72102c;
$c-purple-700: #72102c66;
$c-red-400: #c10230;
$c-yellow-400: #ffc933;
$c-gray-shadow: rgba(50, 50, 50, 0.5);

/** Breakpoints */
$breakpoint-xs: 460px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1380px;

/** Containers */
$container-xs: 415px;
$container-sm: 544px;
$container-md: 736px;
$container-lg: 960px;
$container-xl: 1168px;
$container-xxl: 1348px;
